<!DOCTYPE html>
<html>
<head>
<title>生活資訊站</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='w3.css') }}">
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>生活</b> 資訊</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#currency" class="w3-bar-item w3-button">外幣匯率</a>
      <a href="#invoice" class="w3-bar-item w3-button">發票中獎號碼</a>
      <a href="#checkform" class="w3-bar-item w3-button">發票對獎器</a>
      <a href="#mail" class="w3-bar-item w3-button">回覆</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="{{ url_for('static', filename='bluesky_ps.png') }}" alt="封面" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>生活</b></span> <span class="w3-hide-small w3-text-light-grey">資訊</span></h1>
  </div>
</header>

<div class="w3-center w3-container w3-padding-32 w3-xxlarge" id="currency">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:16px">外幣匯率</h1>
    <table class="w3-table-all  w3-xxlarge">
    <tr>
      <th>幣別</th>
      <th>買入價格</th>
      <th>買出價格</th>
    </tr>
    <tr>
      <td>{{ crt[0][0] }}</td>
      <td>{{ crt[0][2] }}</td>
      <td>{{ crt[0][12] }}</td>
    </tr>
    <tr>
      <td>{{ crt[1][0] }}</td>
      <td>{{ crt[1][2] }}</td>
      <td>{{ crt[1][12] }}</td>
    </tr>
    <tr>
      <td>{{ crt[2][0] }}</td>
      <td>{{ crt[2][2] }}</td>
      <td>{{ crt[2][12] }}</td>
    </tr>
    <tr>
      <td>{{ crt[3][0] }}</td>
      <td>{{ crt[3][2] }}</td>
      <td>{{ crt[3][12] }}</td>
    </tr>
    <tr>
      <td>{{ crt[4][0] }}</td>
      <td>{{ crt[4][2] }}</td>
      <td>{{ crt[4][12] }}</td>
    </tr>
    <tr>
      <td>{{ crt[5][0] }}</td>
      <td>{{ crt[5][2] }}</td>
      <td>{{ crt[5][12] }}</td>
    </tr>
    <tr>
      <td>{{ crt[6][0] }}</td>
      <td>{{ crt[6][2] }}</td>
      <td>{{ crt[6][12] }}</td>
    </tr>
    <tr>
      <td>{{ crt[7][0] }}</td>
      <td>{{ crt[7][2] }}</td>
      <td>{{ crt[7][12] }}</td>
    </tr>
    <tr>
      <td>{{ crt[8][0] }}</td>
      <td>{{ crt[8][2] }}</td>
      <td>{{ crt[8][12] }}</td>
    </tr>
    <tr>
      <td>{{ crt[9][0] }}</td>
      <td>{{ crt[9][2] }}</td>
      <td>{{ crt[9][12] }}</td>
    </tr>
    <tr>
      <td>{{ crt[10][0] }}</td>
      <td>{{ crt[10][2] }}</td>
      <td>{{ crt[10][12] }}</td>
    </tr>
    <tr>
      <td>{{ crt[11][0] }}</td>
      <td>{{ crt[11][2] }}</td>
      <td>{{ crt[11][12] }}</td>
    </tr>
    <tr>
      <td>{{ crt[12][0] }}</td>
      <td>{{ crt[12][2] }}</td>
      <td>{{ crt[12][12] }}</td>
    </tr>
    <tr>
      <td>{{ crt[13][0] }}</td>
      <td>{{ crt[13][2] }}</td>
      <td>{{ crt[13][12] }}</td>
    </tr>
    <tr>
      <td>{{ crt[14][0] }}</td>
      <td>{{ crt[14][2] }}</td>
      <td>{{ crt[14][12] }}</td>
    </tr>
    <tr>
      <td>{{ crt[15][0] }}</td>
      <td>{{ crt[15][2] }}</td>
      <td>{{ crt[15][12] }}</td>
    </tr>
    <tr>
      <td>{{ crt[16][0] }}</td>
      <td>{{ crt[16][2] }}</td>
      <td>{{ crt[16][12] }}</td>
    </tr>
    <tr>
      <td>{{ crt[17][0] }}</td>
      <td>{{ crt[17][2] }}</td>
      <td>{{ crt[17][12] }}</td>
    </tr>
    <tr>
      <td>{{ crt[18][0] }}</td>
      <td>{{ crt[18][2] }}</td>
      <td>{{ crt[18][12] }}</td>
    </tr>
  </table>

  <div class="w3-container w3-padding-32 w3-xxlarge" id="invoice">
  <div class="w3-content">
  
    <h1 class="w3-center w3-jumbo" style="margin-bottom:16px">發票中獎號碼</h1>
    <div class="w3-row w3-center w3-border w3-border-dark-grey">
      <a href="javascript:void(0)" onclick="openMenu(event, 'Pizza');" id="myLink">
        <div class="w3-col s4 tablink w3-padding-large w3-hover-blue">{{ issue[0] }}</div>
      </a>
      <a href="javascript:void(0)" onclick="openMenu(event, 'Pasta');">
        <div class="w3-col s4 tablink w3-padding-large w3-hover-blue">{{ issue[1] }}</div>
      </a>
      <a href="javascript:void(0)" onclick="openMenu(event, 'Starter');">
        <div class="w3-col s4 tablink w3-padding-large w3-hover-blue">{{ issue[2] }}</div>
      </a>
    </div>

    <div id="Pizza" class="w3-container menu w3-padding-32 w3-white">
      <h2><b>兌獎期間：{{ redeem[0] }}</b></h2>
      <hr>
      <h1><b>特別獎</b> <span class="w3-tag w3-grey w3-round">1000萬</span></h1>
      <p class="w3-text-red"><b>{{ invoice[0] }}</b></p>
      <h2>同期統一發票收執聯8位數號碼與特別獎號碼相同者中獎</h2>
      <hr>

      <h1><b>特獎</b> <span class="w3-tag w3-grey w3-round">200萬</span></h1>
      <p class="w3-text-red"><b>{{ invoice[1] }}</b></p>
      <h2>同期統一發票收執聯8位數號碼與特獎號碼相同者中獎</h2>
      <hr>

      <h1><b>頭獎</b> <span class="w3-tag w3-grey w3-round">20萬~2百</span></h1>
      <p class="w3-text-black"><b>{{ invoice[2][0:5] }}<span style="color: red;">{{ invoice[2][5:8] }}</span></b></p>
      <hr>
      <p class="w3-text-black"><b>{{ invoice[3][0:5] }}<span style="color: red;">{{ invoice[3][5:8] }}</span></b></p>
      <hr>
      <p class="w3-text-black"><b>{{ invoice[4][0:5] }}<span style="color: red;">{{ invoice[4][5:8] }}</span></b></p>
      <h2>同期統一發票收執聯8位數號碼與特獎號碼相同者中獎<span style="color: red;">20萬</span></h2>
      <h2>同期統一發票收執聯7位數號碼與特獎號碼相同者中獎<span style="color: red;">4萬</span></h2>
      <h2>同期統一發票收執聯6位數號碼與特獎號碼相同者中獎<span style="color: red;">1萬</span></h2>
      <h2>同期統一發票收執聯5位數號碼與特獎號碼相同者中獎<span style="color: red;">4千</span></h2>
      <h2>同期統一發票收執聯4位數號碼與特獎號碼相同者中獎<span style="color: red;">1千</span></h2>
      <h2>同期統一發票收執聯3位數號碼與特獎號碼相同者中獎<span style="color: red;">2百</span></h2>
      
    </div>

    <div id="Pasta" class="w3-container menu w3-padding-32 w3-white">
      <h2><b>兌獎期間：{{ redeem[1] }}</b></h2>
      <hr>
      <h1><b>特別獎</b> <span class="w3-tag w3-grey w3-round">1000萬</span></h1>
      <p class="w3-text-red"><b>{{ invoice[5] }}</b></p>
      <h2>同期統一發票收執聯8位數號碼與特別獎號碼相同者中獎</h2>
      <hr>

      <h1><b>特獎</b> <span class="w3-tag w3-grey w3-round">200萬</span></h1>
      <p class="w3-text-red"><b>{{ invoice[6] }}</b></p>
      <h2>同期統一發票收執聯8位數號碼與特獎號碼相同者中獎</h2>
      <hr>

      <h1><b>頭獎</b> <span class="w3-tag w3-grey w3-round">20萬~2百</span></h1>
      <p class="w3-text-black"><b>{{ invoice[7][0:5] }}<span style="color: red;">{{ invoice[7][5:8] }}</span></b></p>
      <hr>
      <p class="w3-text-black"><b>{{ invoice[8][0:5] }}<span style="color: red;">{{ invoice[8][5:8] }}</span></b></p>
      <hr>
      <p class="w3-text-black"><b>{{ invoice[9][0:5] }}<span style="color: red;">{{ invoice[9][5:8] }}</span></b></p>
      <h2>同期統一發票收執聯8位數號碼與特獎號碼相同者中獎<span style="color: red;">20萬</span></h2>
      <h2>同期統一發票收執聯7位數號碼與特獎號碼相同者中獎<span style="color: red;">4萬</span></h2>
      <h2>同期統一發票收執聯6位數號碼與特獎號碼相同者中獎<span style="color: red;">1萬</span></h2>
      <h2>同期統一發票收執聯5位數號碼與特獎號碼相同者中獎<span style="color: red;">4千</span></h2>
      <h2>同期統一發票收執聯4位數號碼與特獎號碼相同者中獎<span style="color: red;">1千</span></h2>
      <h2>同期統一發票收執聯3位數號碼與特獎號碼相同者中獎<span style="color: red;">2百</span></h2>
      
    </div>

    <div id="Starter" class="w3-container menu w3-padding-32 w3-white">
      <h2><b>兌獎期間：{{ redeem[2] }}</b></h2>
      <hr>
      <h1><b>特別獎</b> <span class="w3-tag w3-grey w3-round">1000萬</span></h1>
      <p class="w3-text-red"><b>{{ invoice[10] }}</b></p>
      <h2>同期統一發票收執聯8位數號碼與特別獎號碼相同者中獎</h2>
      <hr>

      <h1><b>特獎</b> <span class="w3-tag w3-grey w3-round">200萬</span></h1>
      <p class="w3-text-red"><b>{{ invoice[11] }}</b></p>
      <h2>同期統一發票收執聯8位數號碼與特獎號碼相同者中獎</h2>
      <hr>

      <h1><b>頭獎</b> <span class="w3-tag w3-grey w3-round">20萬~2百</span></h1>
      <p class="w3-text-black"><b>{{ invoice[12][0:5] }}<span style="color: red;">{{ invoice[12][5:8] }}</span></b></p>
      <hr>
      <p class="w3-text-black"><b>{{ invoice[13][0:5] }}<span style="color: red;">{{ invoice[13][5:8] }}</span></b></p>
      <hr>
      <p class="w3-text-black"><b>{{ invoice[14][0:5] }}<span style="color: red;">{{ invoice[14][5:8] }}</span></b></p>
      <h2>同期統一發票收執聯8位數號碼與特獎號碼相同者中獎<span style="color: red;">20萬</span></h2>
      <h2>同期統一發票收執聯7位數號碼與特獎號碼相同者中獎<span style="color: red;">4萬</span></h2>
      <h2>同期統一發票收執聯6位數號碼與特獎號碼相同者中獎<span style="color: red;">1萬</span></h2>
      <h2>同期統一發票收執聯5位數號碼與特獎號碼相同者中獎<span style="color: red;">4千</span></h2>
      <h2>同期統一發票收執聯4位數號碼與特獎號碼相同者中獎<span style="color: red;">1千</span></h2>
      <h2>同期統一發票收執聯3位數號碼與特獎號碼相同者中獎<span style="color: red;">2百</span></h2>
      
    </div><br>

  </div>
  <div class="w3-container w3-padding-32" id="checkform">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:16px">發票對獎器</h1>
    <br><br>
    <form action="/#checkform" method="post">
        <label>選擇月份:</label>
        <select required name="month">
          <option value="0">{{ issue[0] }}</option>
          <option value="1">{{ issue[1] }}</option>
          <option value="2">{{ issue[2] }}</option>
        </select>
        <input class="w3-input w3-section w3-border" type="text" placeholder="請輸入發票號碼" required name="inputinvoice">
        <br>
        <button class="w3-button w3-black w3-section" type="submit"  type="submit" name="action" value="check">
          <i class="fa fa-paper-plane"></i> 對獎
        </button>
    </form>
    <p>{{ reply }}</p>
  </div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="mail">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:16px">回覆</h1>
    <p>有什麼想對我說的嗎?</p>
    <p>寫下自己的姓名和內容，姓名輸入匿名(anonymous)也可以。</p>
    <form action="/#mail" method="post">
      <input class="w3-input w3-border" type="text" placeholder="姓名(Name)" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="請輸入內容(Comment)" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit" name="action" value="comment">
        <i class="fa fa-paper-plane"></i> 送出(SEND)
      </button>
    </form>
  </div>
  <!-- sned message -->  
  {% if success %}
  <div class="w3-panel w3-green w3-display-container">
    <span onclick="this.parentElement.style.display='none'"
    class="w3-button w3-large w3-display-topright">&times;</span>
    <p>訊息已成功寄出，謝謝您的回覆！</p>
  </div>
  {% endif %}
  
<!-- Image of location/map -->
<div class="w3-container">
  <img src="{{ url_for('static', filename='sunset001.jpg') }}" class="w3-image" style="width:100%">
</div>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

<script>
// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
     tablinks[i].className = tablinks[i].className.replace(" w3-blue", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-blue";
}
document.getElementById("myLink").click();
</script>

</body>
</html>
